@import "variables.css";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: var(--main-text-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h2 {
    opacity: .5;
    margin: 1vw 0;
}

.button {
    outline: none;
    box-sizing: border-box;
    padding: .35vw .75vw;
    border: 1px solid var(--button-border);
    border-radius: 1vw;
    background: var(--button-background);
    font-weight: bold;
    color: var(--button-text-color);

}

.button:hover {
    border: 1px solid var(--button-border--hover);
    background: var(--button-background--hover);
    color: var(--button-text-color--hover);
}


/*----HEADER-----------------------------------------------------------------*/

header {
    width: 100vw;
    height: 10vh;
    background: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5vw;

}

.header__logo {
    width: 16vh;
    height: 8vh;
    background: url("../img/header-logo.svg") no-repeat;
    background-size: cover;
}

.header__button--secondary {
    font-size: 80%;
    background: transparent;
    border: none;
}

.header__button--secondary:hover {
    background: none;
    border: none;
    color: var(--button-background--hover);
}

/*----FILTER-----------------------------------------------------------------*/

.filter__container {
    width: 95vw;
    display: flex;
    justify-content: flex-start;
    margin: 1vw;
}

.filter__form {
    margin: 1vw 0;
    background: transparent;
    border: unset;
    box-shadow: unset;
    padding: 0;
    justify-content: flex-start;
    flex-direction: row;
}

.filter__form input {
    background: var(--secondary-background);
    box-shadow: 0 0 5px var(--main-background);
}

.filter__form input:focus{
    background: transparent;
}

.filter__form label {
    margin: 0 1vw 0 4vw;
    font-size: 85%;
}

.filter__form select {
    background: var(--secondary-background);
    box-shadow: 0 0 5px var(--main-background);
}

.filter__form select:focus{
    background: transparent;
}
/*----MAIN-----------------------------------------------------------------*/

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;

}

.card__main-container {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95vw;
    min-height: 50vh;
    background: var(--secondary-background);
    border-radius: 1vw;
    box-shadow: 0 0 10px var(--main-background);
}

/*----MODAL-----------------------------------------------------------------*/

form {
    box-sizing: border-box;
    padding: 1vw 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--main-background);
    box-shadow: 0 0 10px var(--main-background);
    border-radius: 1vw;
    background: var(--secondary-background);
    margin: 1vw;
}

.modal__select-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-close-ico {
    width: 2vw;
    height: 2vw;
    background: url("../img/close-ico.svg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    float: right;
    /*margin-left: 2vw;*/
}


.form-close-ico:hover {
    filter: unset;
}

select {
    position: relative;
    width: 90%;
    box-sizing: border-box;
    padding: .6vw 1.2vw;
    border-radius: 1vw;
    outline: none;
    border: 1px solid var(--button-border);
    margin: .5vw 0;
}


select:focus {
    outline: none;
}

.extended-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    position: relative;
    width: 90%;
    box-sizing: border-box;
    padding: .6vw 1.2vw;
    border-radius: 1vw;
    outline: none;
    border: 1px solid var(--button-border);
    margin: .5vw 0;
    background-size: #fff;
}

input::placeholder {
    opacity: .7;
}

input:focus {
    outline: none;
}

textarea {
    position: relative;

    width: 90%;

    box-sizing: border-box;
    padding: .6vw 1.2vw;
    border-radius: 1vw;
    outline: none;
    border: 1px solid var(--button-border);
    margin: .5vw 0;
}

textarea::placeholder {
    opacity: .7;
    font-family: sans-serif;
    background-size: #fff;

}

input[type="submit"] {
    font-size: 120%;
    width: unset;
    padding: .7vw 1.6vw;

}


/*----CARD-----------------------------------------------------------------*/

.card__content-container {
    position: relative;
    width: 20vw;
    /*max-width: 50vw;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 1vw;
    border: 1px solid var(--main-background);
    box-shadow: 0 0 10px var(--main-background);
    background: #fff;
    border-radius: 1vw;
    margin: 1vw;
    transition: .3s ease;


}

.card__ico-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card__change {
    width: 2vw;
    height: 2vw;
    background: url("../img/change-ico.svg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    margin-right: .5vw;
}

.card__change:hover {
    filter: unset;
}

.card__del {
    width: 2vw;
    height: 2vw;
    background: url("../img/del-ico.svg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.card__del:hover {
    filter: unset;
}

.card__content {
    margin: 1vw 0;
}

.card__content-first {
    font-weight: bold;
    margin-right: 1vw;
}

.show-more {
    font-weight: bold;
    cursor: pointer;
    opacity: .6;
    margin: .5vw 0;
}

.show-more:hover {
    color: #FDCE35;
    opacity: 1;
}

.card__extended-options {
    left: 0;
    top: 110%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 1vw;
    border: 1px solid var(--main-background);
    box-shadow: 0 0 10px var(--main-background);
    background: var(--card-background--active);
    border-radius: 1vw;
    z-index: 100;
    opacity: 0;
    transform: scale3d(0, 0, 0);
    transform-origin: top;
}

.card__extended-options .card__content {
    margin: .5vw 0;
    font-size: 90%;
}

.card__extended-options--active {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.card__content-container--active {
    transform: translateY(-1vw);
    z-index: 100;
    background: var(--card-background--active);
}


.card__flag {
    width: 3vw;
    height: 1vw;
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.card__urgency--regular {
    background: var(--card-urgency-regular);
}

.card__urgency--priority {
    background: var(--card-urgency-priority);
}

.card__urgency--emergency {
    background: var(--card-urgency-emergency);
}


/*AUTHORIZATION----------------------------------------------------------------------------------------*/

.modal__authorization {
    display: none;
    width: 40vw;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -20vw;
    transition: .6s ease;
}

.modal-authorization--active {
    display: flex;
   animation: show-modal .6s ease;
}

@keyframes show-modal {
    from {
        transform: translateY(-10vw);
        opacity: 0;

    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p.error {
    color: red;
    font-size: 70%;
    opacity: .8;
    position: absolute;
    left: 2vw;
    z-index: 1000;
}

/*MODAL ---------------------------------------------------------------------*/

.modal {
    position: absolute;
    top: 30%;
    width: 40vw;
    left: 50%;
    margin-left: -20vw;
}

.modal--show {
    animation: show-modal .6s ease;
}

.modal--close {
    animation: close-modal .6s ease;
}

@keyframes close-modal {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        transform: translateY(-10vw);
        opacity: 0;
    }
}


.modal__close-button {
width: 2vw;
height: 2vw;
background: url("../img/close-ico.svg") no-repeat;
background-size: cover;
filter: grayscale(100%);
float: left;
}

.modal__close-button:hover {
    filter: unset;
}

.modal__extended-options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:    center;
    flex-direction: column;
}

