:root {
    --main-text-color: #343F56;
    --main-text-color--hover: #FDCE35;
    --main-background: #647D9C;
    --secondary-background: #E9F3FF;
    --header-background: #647D9C;
    --button-border: #E1E8F1;
    --button-border--hover: #EFC348;
    --button-background: #fff;
    --button-background--hover: #FDCE35;
    --button-text-color: #343F56;
    --button-text-color--hover: #fff;
    --card-background--active: #FFF3CE;
    --card-urgency-regular: #47DB43;
    --card-urgency-priority: #FF8100;
    --card-urgency-emergency: #FF0000;


}
